.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    border: solid black 2px;
    justify-content: center;
  align-content: center;
}

.square{
    height: 200px;
    width: 200px;
    border-color: black;
    border:solid black 1px;
}

.mole{
    background-image: url('mole3.png');
    background-size: 200px 200px;
    
}
.button {
    font-family: Helvetica;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: darkseagreen;
}
.timer{


    background-color: #ffffff;
    font-family:Helvetica;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    text-decoration: blink;
    text-transform: none;
    font-variant: small-caps;
    color: #000000;
}
.score {
    background-color: #ffffff;
    font-family: Helvetica;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    text-decoration: blink;
    text-transform: none;
    font-variant: small-caps;
    color: #000000;
}

